
body {
    background-color: #1a1a1a;
    color: #ffffff;
}
body.dark {
    background-color: black;
    color: white;
}

/* Example specific styles for dark mode */
body.dark .container {
    background-color: #333;
    color: #f5f5f5;
}